 <section class="product-block">
    <h3>{{product.name}}</h3>
    <section class="product-description">
        <p>{{product.description}}</p>
        <section class="product-options">
            <span>&raquo; Dodaj do koszyka</span>
            <span>&raquo; Dodaj do listy życzeń</span>
        </section>
    </section>
</section>