{% extends 'AcmeHomePageBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}



{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <h2 class="title">Witaj w sklepie internetowym!</h2>
    
    
    <h3 class="last">Lista funkcjonalności</h2>
    
    
    <ul class="list">
        <li>Przegląd produktów, stronicowanie i sortowanie</li>
        <li>Dodawanie produktów do koszyka</li>
        <li>Usuwanie produktów z koszyka</li>
        <li>Zakup towarów (podanie danych dostawy)</li>
        <li>Zapamiętywanie danych wprowadzonych przy zakupie</li>
        <li>Rejestracja</li>
        <li>Logowanie</li>
        <li>Edycja profilu</li>
        <li>Zmiana hasła</li>
        <li>Dodawanie, edycja, usuwanie produktów</li>
    </ul>
    
    
    
{% endblock %}
